out
dist
node_modules
.vscode-test/
*.vsix
.DS_Store
*.log
.eslintcache
.tsbuildinfo
coverage/
.nyc_output/
.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.env
.env.local
.env.*.local
moderne-intellij-plugin
